@model List<Cars>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Cars</h1>

<div class="list-group">
    <ul class="list-group">
        @foreach (Cars car in Model)
        {
                <li class="list-group-item">
                    <a asp-controller="Car" asp-action="Detail" asp-route-id="@car.Id">  @car.Name</a>
                </li>
        }
    </ul>

</div>